.item-card{
     position: relative;
   padding: 0.6rem;
   box-sizing: border-box;
  border-radius: $border-radius;
  background: linear-gradient(-67deg, rgba($secondary-color, .7), $third-color);
  box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;

    img{
        height: 80px;
    }
    display: flex;
    flex-direction: column;

 
  
}

.card-inner{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   cursor: pointer;
  background-color: white;
  border-radius: $border-radius;
  min-height: 100%;
   
}

.card-icon {
    position: absolute;
    top: 95%;
     background: linear-gradient(-67deg, rgba(223, 124, 19, 1), rgba(93, 121, 174, 1));
     color: white;
     border-radius: 1rem;
     padding: 10px;
   cursor: pointer;

    
}

.item-blue{
     background: linear-gradient(-67deg, rgba(#4b69cd, .7), $third-color);
}
.item-purple{
     background: linear-gradient(-67deg, rgba(#8847ff, .9), $third-color);
}
.item-pink{
     background: linear-gradient(-67deg, rgba(#d32ce6, 1), $third-color);
}
.item-red{
     background: linear-gradient(-67deg, rgba(#eb4b4b, 1), $third-color);
}

p{
     text-align: center;
    
}

span{
     color: red;
     font-size: 0.5rem;
}

.card-delete{
     height: 30px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: $primary-color;

      :hover{
          color: red;
     }
}

#item-name{
     color: $primary-color;
     span{
          color: red;
     }
}

#float-value.active {

  color:red
}