.wear-bar {
  position: relative;
  display: flex;
  height: 16px;
  border-radius: 8px;
  overflow: hidden;
  background: #333;
  margin-top: 8px;
  width: 90%;
}

.segment {
  height: 100%;
}

.marker {
  position: absolute;
  top: -4px;
  width: 2px;
  height: 24px;
  background: black;
  border-radius: 1px;
  box-shadow: 0 0 2px black;
}