
.il-top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 1rem;
}

.top-bottom{
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
    gap: 20px;
}


.il {
    padding: 2rem;
    box-sizing: border-box;
	width: 90%;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.il-container{

   background: white;
    width: 50%;
    height: 1200px;
    padding: 0.5rem;
    overflow: scroll;
    scrollbar-color: $primary-color transparent;
    scrollbar-width: thin;
    border-radius: $border-radius;
    

    
}

.il-inner{
    padding: 1rem;
      background: white;
}

.title-container{
    width: 100%;
    
}

.il-spinner {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: start;
    height: 100%;
}

.il-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.il-search-container{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.il-title{
  background: linear-gradient(-67deg, rgba($secondary-color, .4), rgba($third-color,.9));
    color: white;
    text-shadow: 0 1px 3px rgba($third-color, 0.5);
   
}

#vinne{
     background: linear-gradient(-67deg, rgba($secondary-color, .7), rgba($primary-color,.4));
}