
.il-top-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top-bottom{
    display: flex;
    justify-content: space-evenly;
    width: 99vw;
    gap: 20px;
}


.il {
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
	background: linear-gradient(-67deg, rgba($secondary-color,.9), rgba($third-color,.8));
	width: 90%;
	border-radius: 20px;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.il-container{

   background: white;
    width: 50%;
    height: 8000px;

    border-radius: $border-radius;
    

    
}

.il-inner{
    padding: 1rem;
      background: white;
}

.title-container{
    width: 100%;
}

.il-spinner {
	display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: start;
    height: 100%;
}

.il-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.il-search-container{
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.il-title{
  background: linear-gradient(-67deg, rgba($secondary-color, .4), rgba($third-color,.9));
    color: #1a1a1a;;
    text-shadow: 0 1px 3px rgba(0,0,0,0.2);
   
}

#vinne{
     background: linear-gradient(-67deg, rgba($secondary-color, .7), rgba($primary-color,.4));
}