$color_1: red;
$color_2: white;
$color_3: $secondary-color;
$background-color_1: $secondary-color;
$background-color_2: $third-color;
$background-color_3: $primary-color;
$background-color_4: #0056b3;

h2{
	text-align: left;
}

.m-overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.m-content {
	background-color: white;
	min-width: 300px;
	position: relative;
	padding: 0;
	margin: 0;
	width: 1000px;
	  border-radius: $border-radius;
  background: linear-gradient(-67deg, rgba($secondary-color, .9), rgba(white,.9));
  overflow: hidden;
}

.m-close {
	position: absolute;
	top: -10px;
	right: -15px;
	border: none;
	font-size: 18px;
	border-radius: 20px 0px 0px 0px;
	
	 background: linear-gradient(-67deg, rgba($secondary-color, .3), rgba(white,.9));
	cursor: pointer;
	color: red;
	 min-width: 46px;
    min-height: 46px;
    max-height: 46px;
  margin-right: 12px;

}

.m-container {
	display: flex;
	gap: 10px;
}

.m-c-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;

	img{
		width: 120px;
	}
}

.m-form-c {
	padding: 0 50px;
	background-color: rgba(255,255,255, 0.8);
	width: 70%;
	height: 100%;
	border-radius: 20px 0px 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	height: 100%;
	flex-direction: column;
	gap: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

input {
	width: 70%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

textarea {
	width: 90%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"] {
	background-color: $background-color_3;
	color: $color_2;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	height: 50px;
	font-size: 1.5rem;
	width: 330px;

	&:hover {
		background-color: $secondary-color;
		scale: 1.01;
	}
}



@media only screen and (max-width: 600px) {
	.m-content {
		width: 90vw;
	}

	.m-c-img {
		display: none;
	}

	.m-form-c {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}
}


@media only screen and (max-width: 901px) {
	button[type="submit"] {
		width: 300px;
		align-self: center;
	}
}


 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 