$border-radius: 10px;

.card{

  border-radius: $border-radius;
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;
  box-shadow: 
    -2px -2px 6px rgba($secondary-color, .6),
    2px 2px 12px #c8d8e7;
  width: 20vw;
}

.search-card-inner{
      padding: 16px 16px;
  background: linear-gradient(-67deg, rgba(223, 124, 19, 0.4), rgba(93, 121, 174, 0.9));
  border-radius: var($border-radius);
}

.container{
    display: flex;
}

.icon{
    min-width: 46px;
    min-height: 46px;
    max-height: 46px;
  display: flex;
  color: $primary-color;
  align-items: center;
  justify-content: center;
  border-radius: var($border-radius);
  margin-right: 12px;
  box-shadow: 
  2px 2px 2px rgba(93, 121, 174, 1);

    :nth-child(1) {
        transform: translate(-1px, -1px); 
    }
}

.search-label{
     display: block;
  margin-bottom: 12px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-container{
    width: 100%;
}

input{
    background-color: white;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

  ::placeholder{
    color: #6d7f8f;
  }

  :focus{
    outline: none;
    color: #6d7f8f;
    background-color: lighten(#e3edf7, 3%);
  }
}

.input-container{
    --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
  
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  
  
  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  &:before {
    box-shadow: var(--bottom-shadow);
  }
  
  &:after {
    box-shadow: var(--top-shadow);
  }
}

.result-item{
    cursor: pointer;
     --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
  color: $third-color;
  padding: 0.5rem;
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  display: flex;
  align-items: center;
  
  &:before,
  &:after {
    left: 0;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  &:before {
    box-shadow: var(--bottom-shadow);
    
  }
  
  &:after {
    box-shadow: var(--top-shadow);
  }

  .item-image{
    width: 50%;
    height: 50%;
  }
}

.results{
  background-color: white;
}